.edit-material {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; /* Adjust as needed */
  background-color: #f0f0f0; /* Background color for the entire page */
  padding: 20px;

  .edit-material-content {
    max-width: 600px;
    width: 100%;
    background-color: #ffffff; /* Background color for the content area */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h2 {
      font-size: 24px;
      color: #333333; /* Heading color */
      margin-bottom: 20px; /* Space below the heading */
    }

    .form {
      display: flex;
      flex-direction: column;

      .MuiTextField-root {
        margin-bottom: 20px; /* Space between form fields */
        width: 100%;

        label {
          color: #333333; /* Label color */
        }
      }
    }

    .buttonContainer {
      display: flex;
      justify-content: space-between;
      margin-top: 20px; /* Space above buttons */

      .MuiButton-root {
        padding: 10px 20px;
      }
    }
  }
}
