.edit-corrosion {
  width: 100%; /* Full width of the viewport */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  background: #f0f0f0;
}

.edit-corrosion-content {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;

  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 16px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px; /* Padding inside the form */
  }

  .form-item {
    width: 100%;
    max-width: 400px;
    margin-bottom: 16px;
  }

  .buttonContainer {
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
  }

  .button {
    padding: 10px 20px;
  }
}
